// Custom Country progress bar rows
.country-sale-row {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    margin-bottom: 1.15rem;

    &:last-child {
        margin-bottom: 0;
    }

    .country-header {
        display: flex;
        align-items: center;
        font-size: 0.85rem;
        font-weight: 600;
        margin-bottom: 6px;

        .country-info {
            display: flex;
            align-items: center;
            gap: 8px;

            .country-flag-icon {
                border-radius: 3px;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                height: 40px;
                object-fit: cover;
            }

            .country-names {
                display: flex;
                flex-direction: row;
            }

            .country-name {
                color: $secondary;
                font-size: 13px;
            }
        }

        .country-value {
            color: $text-secondary;
            font-size: 15px;
        }
    }

    .progress-wrapper {
        flex: 1;
    }

    .custom-progress {
        height: 8px;
        background-color: #e5e7eb;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 20px;
        margin-left: 20px;

        .progress-bar {
            background-color: #2563eb;
            border-radius: 10px;
        }
    }

}